# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python intermediate files
*.pyc

# Sphinx documentation
doc/_build/

# virtualenv
.venv
venv/
venv3/
*-venv3/
ENV/

# Emacs (and other) backup files
*.bak
*~
\#*\#
TAGS

# Environment variables
.env
.envrc
.direnv/
.pypirc

# Data
models/
data/
*.sqlite3?
*.db